@using SiteMVC.Models;
@using SiteMVC.Repositories;
@model IEnumerable<Journal>
@inject AccountRepository accountRepository
@inject UserRepository userRepository
@inject RolesRepository rolesRepository
@inject JournalRepository journalRepository
@{
    string login = User.Identity.Name;
    var account = await accountRepository.GetAccountByLoginAsync(login);
    var user = await userRepository.GetUserByAccountAsync(account);
    var userRole = await rolesRepository.GetUserRoleAsync(user);
    List<Journal> journals = await journalRepository.GetUserJournalAsync(user);
}

@{
    ViewData["Title"] = "Журнал";
}

<h1>Журнал</h1>

@if (userRole.Name == "teacher" || userRole.Name == "admin")
{
    <p>
        <a asp-action="Create" class="btn btn-warning">Создать</a>
    </p>
}
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WorkType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (userRole.Name == "student")
        {
            @foreach (var item in journals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.LessonNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                </tr>
            }
        }
        @if (userRole.Name == "teacher" || userRole.Name == "admin")
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.LessonNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id " class="btn btn-warning">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Удалить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
