@using SiteMVC.Models;
@model IEnumerable<HomeWork>

@{
    ViewData["Title"] = "ДомашнееЗадание";
}

<h1>Домашнее Задание</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.LessonNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.LessonNumber)
                </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Удалить</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
