@using SiteMVC.Models;
@using SiteMVC.Repositories;
@model IEnumerable<HomeWork>
@inject AccountRepository accountRepository
@inject UserRepository userRepository
@inject RolesRepository rolesRepository
@inject HomeWorkRepository homeWorkRepository
@{
    string login = User.Identity.Name;
    var account = await accountRepository.GetAccountByLoginAsync(login);
    var user = await userRepository.GetUserByAccountAsync(account);
    var userRole = await rolesRepository.GetUserRoleAsync(user);
    List<HomeWork> homeWorks = await homeWorkRepository.GetUserHomeWorksAsync(user);
}

@{
    ViewData["Title"] = "ДомашнееЗадание";
}

<h1>Домашнее Задание</h1>

@if (userRole.Name == "teacher" || userRole.Name == "admin")
{
    <p>
        <a asp-action="Create" class="btn btn-warning">Создать</a>
    </p> 
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.LessonNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (userRole.Name == "student")
        {
            @foreach (var item in homeWorks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.LessonNumber)
                    </td>
                </tr>
            }        
        }
        @if (userRole.Name == "teacher" || userRole.Name == "admin")
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.LessonNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Удалить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
