@using SiteMVC.Models;
@using SiteMVC.Repositories;
@model IEnumerable<Lesson>
@inject AccountRepository accountRepository
@inject UserRepository userRepository
@inject RolesRepository rolesRepository
@inject JournalRepository journalRepository
@inject LessonRepository lessonRepository
@{
    string login = User.Identity.Name;
    var account = await accountRepository.GetAccountByLoginAsync(login);
    var user = await userRepository.GetUserByAccountAsync(account);
    var userRole = await rolesRepository.GetUserRoleAsync(user);
    List<Lesson> lessons = await lessonRepository.GetUserLessonsAsync(user);
}
@{
    ViewData["Title"] = "Расписание";
}

<h1>Расписание</h1>

@if (userRole.Name == "Учитель" || userRole.Name == "admin")
{
    <p>
        <a asp-action="Create" , class="btn btn-warning">Создать</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeekDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cabinet.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FIO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (userRole.Name == "Ученик")
        {
            @foreach (var item in lessons)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeekDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cabinet.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.FIO)
                    </td>
                </tr>
            }
        }
        @if (userRole.Name == "Учитель" || userRole.Name == "admin")
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeekDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cabinet.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.FIO)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" , class="btn btn-warning">Изменить</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" , class="btn btn-warning">Удалить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
